<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <title>{{ site.title }}</title>
    
  {% endblock head%}

</head>

<body>

    <header class="content">
        <div class="wrapper">
            <h1 class="brand-heading">Error {{ page.header.http_response_code }}</h1>
            <p class="intro-text">{{ page.content }}</p>
        </div>
    </header>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block stylesheets %}

    <!-- Custom CSS -->
    {% do assets.addCss('theme://assets/compiled/styles/main.css',100) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts_bottom %}

      <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv1l7qVWIUaKC3SbdQSoBgxVwy52Edu9U"></script>

      <!-- Custom Theme JavaScript -->
      {% do assets.addJs('theme://assets/compiled/scripts/App.js') %}

      <!-- Vendor JavaScript -->
      {% do assets.addJs('theme://assets/compiled/scripts/Vendor.js') %}

    {% endblock %}
  {{ assets.js() }}

</body>

</html>
