<!-- Navigation -->
<header class="site-header">

    {# <div class="site-header__menu-icon">
    <div class="site-header__menu-icon__middle"></div>
    </div> #}

    <div class="site-header__menu-content">
    <nav class="primary-nav">
        <ul class="primary-nav__flex-row">
        {% if base_url == '/en' %}
        {% for link in site.english.links %}
            {% if link.url | contains('http') %}
                {% set domain = '' %}
            {% elseif link.url | contains('#') %}
                {% set domain = '' %}
            {% else %}
                {% set domain = base_url_absolute %}
            {% endif %}
                <li><a id="{{ link.id }}-link" href="{{ domain }}{{ link.url }}" {% if link.url | contains('http') %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        {% else %}
            {% for link in site.links %}
                {% if link.url | contains('http') %}
                    {% set domain = '' %}
                {% elseif link.url | contains('#') %}
                    {% set domain = '' %}
                {% else %}
                    {% set domain = base_url_absolute %}
                {% endif %}
                    <li><a id="{{ link.id }}-link" href="{{ domain }}{{ link.url }}" {% if link.url | contains('http') %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}
        {% endif %}
    </nav>
    </div>
    <div class="site-header__logo">
        {{ getfilecontents('./user/themes/starter/assets/images/logo.svg') }}
    </div>
    <div class="site-header__icon">
        {{ getfilecontents('./user/themes/starter/assets/images/icon.svg') }} 
    </div>
</header>