<!-- {{ page.header.title }} Section -->
<section>
    <div class="content">
        <div class="wrapper wrapper--no-padding-top">
            {{ page.content }}
        </div>
        <div class="wrapper wrapper--no-padding">
            {% if page.header.images|length > 0 %}
            {% for image in page.header.images %}
            <div class="team-section">
                <img class="team-section__image lazyload" src="./user/themes/savage/assets/images/loading-image-square.jpg" data-src="{{ page.media[image.thumbnail].url }}" />
                <div class="team-section__overlay">
                    <h4>{{ image.employee }}</h4>
                    <p>{{ image.description }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>