<section class={% if page.header.fullHeight %}"content content--full-height"{% else %}"content"{% endif %}>
    <div class={% if page.header.switchPosition %}"content__container content__container--switch-position"{% else %}"content__container"{% endif %}>
        <div class="content__bodytext content__bodytext--work">
            {{ page.content }}
        </div>
        {# <div class={% if page.header.switchPosition %}"content__img-container content__img-container--switch-position"{% else %}"content__img-container"{% endif %}>
            {% for img in page.media.images %}
                <video class="content__video" poster="{{ img.url }}">
                    {% for video in page.media.videos %}
                        <source data-src="{{ video.url }}" type="video/mp4">
                    {% endfor %}
                    Your browser does not support the video tag.
                </video>
                <p class="btn__play btn__play--values">
                    <i class="fas fa-play"></i>
                </p>
            {% endfor %}
        </div> #}
        <div class="content__img-container">
            {% if page.media.images|length > 1 %}
                <div class="glide" data-autoplay="{{ page.header.autoplay }}">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for img in page.media.images %}
                                <li class="glide__slide">
                                    {% set service_image = img.derivatives(311,1246,327).sizes('(max-width:375px) 311px, (max-width:768px) 638px, 50vw') %}
                                    <img title="{{ page.header.title }}" alt="{{ page.header.alt }}" class="lazyload content__img content__img--glide" data-src="{{ service_image.url(false) }}" data-srcset="{{ service_image.srcset(false) }}"> 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                {% for img in page.media.images %}
                    {% set service_image = img.derivatives(311,1246,327).sizes('(max-width:375px) 311px, (max-width:768px) 638px, 50vw') %}
                    <img title="{{ page.header.title }}" alt="{{ page.header.alt }}" class="lazyload content__img" data-src="{{ service_image.url(false) }}" data-srcset="{{ service_image.srcset(false) }}"> 
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
